.aboutus1 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus2 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus3 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus4 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick1{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick2{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick3{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick4{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus6 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
}
@media (max-width: 1000px) {
        .aboutus1 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.aboutus2 {
    font-size:15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.aboutus3 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.aboutus4 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.tick1{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.tick2{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.tick3{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.tick4{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.aboutus6 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
}
}
@media (max-width: 600px) {
    .aboutus1 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.aboutus2 {
    font-size:15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.aboutus3 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.aboutus4 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.tick1{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.tick2{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.tick3{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.tick4{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.aboutus6 {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}
}