.aboutus1 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus2 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus3 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus4 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick1{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick2{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick3{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.tick4{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.aboutus6 {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
}