

.contact-info {
  margin-top: 100px;
  margin-left: 400px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2;
}

.contact-info1 {
  margin-left: 400px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2;

}
.contact-info2 {
  margin-left: 400px;
  margin-bottom: 300px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2;
}