

.contact-info {
  margin-top: 100px;
  margin-left: 400px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2;
}

.contact-info1 {
  margin-left: 400px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2;

}
.contact-info2 {
  margin-left: 400px;
  margin-bottom: 300px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2;
}
@media (max-width: 600px) {

.contact-info {
  margin-right: 1rem;
  margin-top: 50px;
  margin-left: 1rem;
  font-size: 1em;
  color: #fff;
  line-height: 2;
}

.contact-info1 {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1em;
  color: #fff;
  line-height: 2;

}
.contact-info2 {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 200px;
  font-size: 1em;
  color: #fff;
  line-height: 2;
}
}